---
# tasks file for docker
- name: Set docker_architecture fact
  ansible.builtin.set_fact:
    docker_architecture: "{{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }}"
  tags:
    - docker
- name: Remove old packages
  apt:
    pkg:
      - docker-engine
      - docker.io
      - containerd
      - runc
    state: absent
  tags:
  - docker

- name: Install docker dependencies
  apt:
    pkg:
      - ca-certificates
      - curl
      - gnupg2
      - apt-transport-https
      - python3-pip
      - python3-setuptools
      - python3-docker
    state: present
    update_cache: yes
  tags:
  - docker

- name: Create /etc/apt/keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  tags:
    - docker

- name: Download Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
  tags:
    - docker
- name: Add Docker APT repository
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ docker_architecture }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
  tags:
    - docker

- name: Install Docker
  apt:
    pkg:
      - docker-ce 
      - docker-ce-cli 
      - containerd.io 
      - docker-buildx-plugin 
      - docker-compose-plugin
    state: present
    update_cache: yes
  tags:
  - docker

- name: Install docker-compose
  get_url:
    url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-linux-{{ ansible_architecture }}"
    dest: /usr/local/bin/docker-compose
    mode: '0755'
